extends layout
block content
        h1(align='center') События
        p
        table(align='center' width='60%')
                tr
                        td(width='30%')
                                a.btn.btn-warning(type='button', data-toggle='modal', data-target='#myModal') Создать
        p
        .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        table(class='table task-table' width='100%')
                                thead
                                        tr
                                                td(width='20%')
                                                        h4 Название
                                                td(width='20%')
                                                        h4 Дата
                                                td(width='20%')
                                                        h4 Место
                                                td(width='20%')
                                                        h4 Описание
                                                td(width='20%')
                                                        h4 Актуальность


                                tbody
                                    if(actions)
                                        each v in actions
                                            tr(id=v._id)
                                                td(width='20%')
                                                    h4 #{v.Name}
                                                td(width='20%')
                                                    h4 #{v.ADate}
                                                td(width='20%')
                                                    h4 #{v.Place}
                                                td(width='20%')
                                                    h4 #{v.Description}
                                                td(width='20%')
                                                    h4 #{v.Actives}
                                                td(width='5%')
                                                    a.btn.btn-danger Изменить
                                                td(width='5%')
                                                    a.btn.btn-danger(href="/remove" class="remove" data-id=v._id) Удалить

        #myModal.modal.fade(tabindex='-1', role='dialog')
                .modal-dialog.custom-class(role='document')
                        .modal-content
                                .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                        h4.modal-title Новое Событие
                                .modal-body
                                        form(id="create-form" class="form-horizontal")
                                                input(type="hidden" name="ownProject" value=ownProject)
                                                label(for='Name') Название события
                                                textarea#Name.form-control(minlength='5', maxlength='512', required='' name="Name")
                                                label(for='ADate') Дата
                                                textarea#ADate.form-control(minlength='5', maxlength='512', required='' name="ADate")
                                                label(for='Place') Место
                                                textarea#Place.form-control(minlength='5', maxlength='512', required='' name="Place")
                                                label(for='Description') Описание
                                                textarea#Description.form-control(minlength='5', maxlength='512', required='' name="Description")
                                                label(for='priority') Актуальность
                                                select#priority.inline(name='Actives')
                                                        option(value='Актуальное', selected='selected') Актуальное
                                                        option(value='Не Актуальное') Не Актуальное
                                .modal-footer
                                        button.btn.btn-warning(type='button', data-dismiss='modal') Отмена
                                        button.btn.btn-danger(type='button' onclick="$('#create-form').submit()") Создать

        script.
            $(function () {
                //shave(".content h5", 70);
                $("#create-form").on('submit', function (e) {
                    console.log("dhdhdfhdf");
                    $.ajax({
                        method: "POST",
                        url: "/createActions",
                        data: $(this).serialize()
                    })
                        .fail(function (error) {
                            // show error message
                        })
                            .success(function(data){
                                console.log(data);
                                $(".task-table tbody").append("<tr><td>"+data.Name+"</td><td>"+data.ADate+"</td><td>"+data.Place+"</td><td>"+data.Description+"</td><td>"+data.Actives+"</td></tr>");
                            })
                        .always(function () {
                            $("#myModal").modal("hide");

                        });
                    e.preventDefault();
                })
            });
            $(document).ready(function () {
                $('.remove').click(function (a) {
                    $.ajax({
                        method: "POST",
                        url: "/removeActions",
                        data: {id: $(this).data('id')}
                    })
                            .fail(function (error) {
                                // show error message
                            })
                            .success(function (data) {
                                console.log(data);
                                $("#" + data.id).remove();
                            })
                    a.preventDefault();

                });
            });