tbody
    each v in actions
        tr
            td(width='20%')
                h4 #{v.Name}
            td(width='20%')
                h4 #{v.ADate}
            td(width='20%')
                h4 #{v.Place}
            td(width='20%')
                h4 #{v.Description}
            td(width='20%')
                h4 #{v.Actives}

