tbody
    tr
        td(width='20%')
            h4 !{actions.Name}
        td(width='20%')
            h4 !{actions.ADate}
        td(width='20%')
            h4 !{actions.Place}
        td(width='20%')
            h4 О!{actions.Description}
        td(width='20%')
            h4 !{actions.Actives}//


