tr
    td(width='20%')
        h4 #{action.Name}
    td(width='20%')
        h4 #{action.ADate}
    td(width='20%')
        h4 #{action.Place}
    td(width='20%')
        h4 #{action.Description}
    td(width='20%')
        h4 #{action.Actives}
